.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.col {
    background-color: #2618a1;
    color: #ffffff;
    text-align: left;
}

.filtercol {
    background-color: #2618a1;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2618a1;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #2618a1;
}

.styled-table tbody tr:hover {
    background: rgba(118, 118, 118, 0.213);
}

.lefti {
    text-align: left !important;
}
.righti {
    text-align: right !important;
}