/* ---------------------------------------------------------------------------TABLE-------------------------------------------------------------------------- */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.styled-table thead th, table.styled-table thead td {
    padding: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.col {
    background-color: var(--color-orange);
    color: #ffffff;
    text-align: center !important;
    border-bottom: none !important;
}

.colcont {
    background-color: var(--color-orange);
    color: #ffffff;
    font-size: 13px !important;
    text-align: center !important;
    border-bottom: none !important;
}

.filtercol {
    padding: 1px !important;
    background-color: var(--color-orange);
    border-top: none !important;
}

.tdhbottom {
    border-bottom: 1px solid rgba(236, 236, 236, 0.504) !important;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    border-right: 1px solid rgba(236, 236, 236, 0.504) !important;
    border-left: 1px solid rgba(236, 236, 236, 0.504) !important;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ecebeba0;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-withe);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--color-withe);
}

.styled-table tbody tr:hover {
    background: rgba(255, 0, 0, 0.116);
}

.lefti {
    text-align: left !important;
}
.righti {
    text-align: right !important;
}

/* --------------------------------------------------------------------SCROLL BAR---------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* -----------------------------------------------------------------------INPUT------------------------------------------------------------------------------ */
.thfilter {
    border-radius: 10px !important;
    border: 2px solid var(--color-withe);
    width: 100%;
    padding: 1px;
    margin: 0px;
    text-align: center;
}

.thfilter:focus{
    outline: none;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------- FA ICONOS ----------------------------------------------------------------------*/
.fablanco{
    color: #ffffff;
}
.fanaranja{
    color: #e6b31b;
}
.faazul{
    color: #2d629a;
}
.farojo{
    color: #c90b0b;
}
.famorado{
    color: #a229b0;
}
/*---------------------------------------------------------------------- /FA ICONOS ----------------------------------------------------------------------*/
.drillin{
    /* text-decoration: underline #2d629a; */
    cursor: pointer;
    color: #2d629a;
    font-weight: 900;
}

.pointer{
    cursor: pointer;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-block-tabla{
    width: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.swal-modal .swal-text {
    text-align: center;
    max-width: 100%;
}

/*---------------------------------------------------------------------- SWEETALERT ----------------------------------------------------------------------*/
.swal-icon--custom{
	width: 100px !important;
}

.swal-footer{
	text-align: center !important;
}
/*---------------------------------------------------------------------- /SWEETALERT ----------------------------------------------------------------------*/

/*---------------------------------------------------------------------- MODAL ----------------------------------------------------------------------*/
.modal{
    background: linear-gradient(135deg, #43827483, #43827483);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.modal:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../img/logo.png'); /* Ruta a tu logo */
    background-repeat: repeat;
    background-size: 150px 150px; /* Tamaño de la imagen, ajusta según necesidad */
    opacity: 0.2; /* Ajusta para lograr un efecto más o menos visible */
    pointer-events: none;
}

.modal-body {
    overflow-y: auto; /* Aplica el scroll solo al body */
    max-height: calc(90vh - 120px); /* Ajusta la altura restando header y footer */
}

.modal-header{
    font-family: "Open Sans", sans-serif;
    background: #438274c3;
}
.modal-footer{
    font-family: "Open Sans", sans-serif;
    background: #438274c3;
}
.select2 {
    color: #3f3f3f !important;
    text-align: center !important;
    width: 100% !important;
    height: 20px !important;
}
.select2:Focus {
    color: #3f3f3f !important;
}
.select2::placeholder  {
    color: #bfbfbf !important;
}
.select2-selection__rendered {
    line-height: 20px !important;
    max-width: 100%;
}
.select2-container .select2-selection--single{
    height: 20px !important;
    max-width: 100%;
}
.select2-selection__arrow{
    height: 20px !important;
    max-width: 100%;
}
.inputtext {
    color: #3f3f3f;
    text-align: center;
    width: 100%;
    height: 20px;
}
.inputtext:Focus {
    color: #3f3f3f;
}
.inputtext::placeholder  {
    color: #bfbfbf;
}
.inputtext[type="date"] {
    font-size: 12px; /* Reduce el tamaño del texto */
    height: 20px; /* Mantiene la altura igual a los demás inputs */
    padding: 2px 5px; /* Ajuste de padding para evitar cortes */
}

/* Ajustar tamaño del icono de calendario en navegadores WebKit (Chrome, Safari, Edge) */
.inputtext[type="date"]::-webkit-datetime-edit {
    font-size: 12px;
}

.inputtext[type="date"]::-webkit-calendar-picker-indicator {
    scale: 0.7; /* Reduce el tamaño del icono */
}
.titulomodal
{
    font-weight: bold;
    color: var(--color-withe);
}
.subtitulomodal
{
    font-weight: bold;
    color: var(--color-gray);
}
.bodymodal
{
    font-size: 15px;
    font-weight: bold;
}
.modal-backdrop
{
    opacity:.3 !important;
}

/*---------------------------------------------------------------------- /MODAL ----------------------------------------------------------------------*/

/*---------------------------------------------------------------------- SELECT ----------------------------------------------------------------------*/
.ms-choice .placeholder{
    cursor: auto !important;
    background-color: #9990 !important;
}
/*---------------------------------------------------------------------- /SELECT ----------------------------------------------------------------------*/
