/* ---------------------------------------------------------------------------TABLE-------------------------------------------------------------------------- */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.styled-table thead th, table.styled-table thead td {
    padding: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.col {
    background-color: #da1e1e;
    color: #ffffff;
    text-align: center !important;
    border-bottom: none !important;
}

.colcont {
    background-color: #da1e1e;
    color: #ffffff;
    font-size: 13px !important;
    text-align: center !important;
    border-bottom: none !important;
}

.filtercol {
    padding: 1px !important;
    background-color: #da1e1e;
    border-top: none !important;
}

.tdhbottom {
    border-bottom: 1px solid rgba(236, 236, 236, 0.504) !important;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    border-right: 1px solid rgba(236, 236, 236, 0.504) !important;
    border-left: 1px solid rgba(236, 236, 236, 0.504) !important;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ecebeba0;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-red);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--color-red);
}

.styled-table tbody tr:hover {
    background: rgba(255, 0, 0, 0.116);
}

.lefti {
    text-align: left !important;
}
.righti {
    text-align: right !important;
}

/* --------------------------------------------------------------------SCROLL BAR---------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* -----------------------------------------------------------------------INPUT------------------------------------------------------------------------------ */
.thfilter {
    border-radius: 10px !important;
    border: 2px solid var(--color-red);
    width: 100%;
    padding: 1px;
    margin: 0px;
    text-align: center;
}

.thfilter:focus{
    outline: none;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------------------------------- FA ICONOS ----------------------------------------------------------------------*/
.fablanco{
    color: #ffffff;
}
.fanaranja{
    color: #e6b31b;
}
.faazul{
    color: #2d629a;
}
.farojo{
    color: #c90b0b;
}
.famorado{
    color: #a229b0;
}
/*---------------------------------------------------------------------- /FA ICONOS ----------------------------------------------------------------------*/
.drillin{
    /* text-decoration: underline #2d629a; */
    cursor: pointer;
    color: #2d629a;
    font-weight: 900;
}

.pointer{
    cursor: pointer;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-block-tabla{
    width: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.swal-modal .swal-text {
    text-align: center;
    max-width: 100%;
}

/*---------------------------------------------------------------------- SWEETALERT ----------------------------------------------------------------------*/
.swal-icon--custom{
	width: 100px !important;
}

.swal-footer{
	text-align: center !important;
}
/*---------------------------------------------------------------------- /SWEETALERT ----------------------------------------------------------------------*/

/*---------------------------------------------------------------------- MODAL ----------------------------------------------------------------------*/
.modal-header{
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(90deg, #62d8ff44, #83e0ff42);
}
.modal-footer{
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(90deg, #62d8ff44, #83e0ff42);
}
.select2 {
    color: #3f3f3f !important;
    text-align: center !important;
    width: 100% !important;
    height: 20px !important;
}
.select2:Focus {
    color: #3f3f3f !important;
}
.select2::placeholder  {
    color: #bfbfbf !important;
}
.select2-selection__rendered {
    line-height: 20px !important;
    max-width: 100%;
}
.select2-container .select2-selection--single{
    height: 20px !important;
    max-width: 100%;
}
.select2-selection__arrow{
    height: 20px !important;
    max-width: 100%;
}
.inputtext {
    color: #3f3f3f;
    text-align: center;
    width: 100%;
    height: 20px;
}
.inputtext:Focus {
    color: #3f3f3f;
}
.inputtext::placeholder  {
    color: #bfbfbf;
}
.titulomodal
{
    font-weight: bold;
    color: var(--color-red);
}
.subtitulomodal
{
    font-weight: bold;
    color: var(--color-gray);
}
.bodymodal
{
    font-size: 15px;
    font-weight: bold;
}
.modal-backdrop
{
    opacity:.3 !important;
}

/*---------------------------------------------------------------------- /MODAL ----------------------------------------------------------------------*/

/*---------------------------------------------------------------------- SELECT ----------------------------------------------------------------------*/
.ms-choice .placeholder{
    cursor: auto !important;
    background-color: #9990 !important;
}
/*---------------------------------------------------------------------- /SELECT ----------------------------------------------------------------------*/
